include CHANGES.rst
include COPYING.txt
include ChangeLog
include Makefile
include README.rst
include mathics_django/autoload/settings.m
include mathics_django/Makefile
include requirements-full.txt
exclude mathics_django/autoload
recursive-include mathics_django *.py
recursive-include mathics_django/web/media *
recursive-include mathics_django/web/templates *
recursive-include test *.py
